.profile {
  border: 2px solid gray;
  width: 40%;
  margin: 10px auto;
}

.image {
  width: 100px;
  height: auto;
  display: block;
  margin: 8px auto;
}

.name {
  color: brown;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.text {
  text-align: center;
  color: slategrey;
  margin-top: 5px;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.stats {
  background-color: rgb(228, 216, 199);
  display: flex;
  justify-content: space-around;
  margin: 30 px 10px;
}

.statInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.quantity {
  font-weight: bold;
  margin-top: 10px;
}
