.friends {
    display: flex;
    justify-content: space-around;
}
.item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 4px;
}
.item span {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.online {
    background-color: rgb(17, 110, 5);
}

.offline {
    background-color: red;
}